{% extends 'base.html' %}
{% block content %}



<div class="card">

        <div class="card-content">
          <div class="media">
            <div class="media-left">
                    <div class="box" style="background:{{ plant.color}};"></div>
            </div>
            <div class="media-content">
              <p class="title is-4"> {{ plant.common_name.capitalize }}</a></p>
              <p class="subtitle is-6">{{ plant.species}}</p>
            </div>
          </div>
      
          <div class="content">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ plant.native_location}}
            
          </div>
          <div class="content">
                <i class="fas fa-quote-left"></i><em>
                {{ plant.description}}
            </em>
                <i class="fas fa-quote-right"></i>

          </div>
          <div class="content">
              <a class="button" href="{% url 'plants_update' plant.id %}">Edit</a>
              <a class="button" href="{% url 'plants_delete' plant.id %}">Delete</a>
          
        </div>

        </div>
      </div>

  <div class="card">
    <div class="card-content">
      {% for use in plant.use_set.all %}
      <li>Used for {{ use.get_primary_type_display }} applications</li>
      {% endfor %}
    </div>
    <div style="padding: 30px;">
      <!-- new code below -->
      <form action="{% url 'add_use' plant.id %}" method="post">
        {% csrf_token %}
        {{ use_form.as_table }}
        <input type="submit" class="button" value="Add Use">
      </form>
      </div>
  </div>
 
 <div class="card">
   <div class="card-content">
     {{ plant.common_name}}
     <div class="card-content">
       {% if plant.pollinators.count %}
          {% for pollinator in plant.pollinators.all %}
       <li>{{pollinator.name}}</li>
       {% endfor %}
       {% else %} No pollinators
       {% endif %}
     </div>
   </div>
 </div>     



{% endblock %}

